
body {
    background-color: rgba(23, 19, 30, 1);
    margin: 0;
    padding: 0;
}

.maincontainer {
    display: flex;
    height: 100vh;
    /* border: 5px solid red; */
    flex-direction: row;
}

.bodycontainer {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.sidebar {
    
    background-size: contain;
    height: 100vh;
    width: auto;
    display: block;
    justify-content: left;
    /* border: 2px solid green; */

}

.intro {
    display: flex;
    /* border: 2px solid pink; */
    margin: 0 auto;
    height: 32%;
    width: 100%;
    background-color: #131019;
    flex-direction: column;
    justify-content: center;
}

#intro-text {
    color: rgba(98,127,158,255);
    font-family: roboto-bold;
    margin-left: 40px;
    font-size: larger;
    
}

#intro-text-two {
    color: rgba(98,127,158,255);
    font-family: roboto-bold;
    margin-left: 40px;
    font-size: large;
    margin-top: 40px;
    
}

label {
    color: aliceblue;
    font-family: roboto-thin;

}


input{
    background-color:#4f5a6a;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06); 
    border-radius: 10px;
    height: 20px;
    outline: none;
    color: aliceblue;
    padding-left: 10px;
}

input:focus{
    outline: 2px solid ;
    outline-color: rgba(98,127,158,255);
}

input:invalid {
    outline: 2px solid ;
    outline-color: red;
}

.form {
    display: flex;
    /* border: 2px solid green; */
    height: 36%;
    background-color: #121019;
    box-shadow: #4f5a6a;
}


.form-group{
    flex: 1;
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.row {
    display: inline-flex;
    width: calc(100% /3);
}

.create-account {
    display: flex;
    /* border: 2px solid purple; */
    height: 32%;
    flex-direction: column;
    background-color: #141019;
}

button {
    background-color:#4f5a6a;
    color: aliceblue;
    font-size: large;
    font-family: roboto;
    border: 0;
    border-radius: 10px;
    width: 15rem;
    height: 3rem;
    margin-top: 20px ;
    margin-left: 40px;
    letter-spacing: 1px;
}

#login-text {
    color: rgb(105, 105, 105);
    font-family: roboto;
    margin-top: 20px;
    margin-left: 40px;
}

#login {
    color: rgba(98,127,158,255);
    font-family: roboto;
    margin-top: 20px;
    margin-left: 3px;
}

.login-container {
    display: flex;
    flex-direction: row;
}